.chat-wrapper {
  .content {
    position: absolute;
    top: 45px;
    bottom: 48px;
    width: 100%;
    overflow: auto;
    background: #fff;

    .am-list {
      img {
        border-radius: 50%;
      }

      .am-list-body {
        position: static;

        .me {
          .am-list-content {
            text-align: right;
          }

          .am-list-extra {
            flex-basis: 10%;
          }
        }
      }
    }
  }

  .footer {
    position: absolute;
    bottom: 2px;
    height: 44px;
    width: 100%;
  }
}
